@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    font-size: 16px;
  
}
.form-container{
   width: 100%;
}

.learning {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0px 160px;
    background-color:hsl(0, 100%, 74%);
    background-image: url(../../public/images/bg-intro-desktop.png);
} 


.code{
    font-weight: 800;
    font-style: italic;
    font-size: larger;
    color: #fff;
}

h3{
    font-weight: 800;
    font-size: xx-large;
    color: #fff;
    padding: 50px;
    font-style: oblique;
}

  .discription {
    width: 90%;
    background-color: hsl(248, 32%, 49%);
    color: white;
    /* padding: 15px 20px; */
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    /* padding-right: 30px; */
}

.left{
    padding-right: 20px;
    margin-left: auto;
}
form{
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5px; */
    border-radius: 8px;
}

.term{
    font-weight: 100;
}



h2{
    margin-bottom: 25px;
    padding: 10px;
    font-weight: 200;
    box-shadow: 0 8px 8px -4px rgb(78, 82, 83);
}


form div{
    display: flex;
    flex-direction: column;
}

input , button{
    padding: 17px  25px;
    margin-bottom: 18px;
    border: 5px solid #efefef;
    border-radius: 8px;
    font-weight: 600;
}

button{
    text-transform: uppercase;
    color: #fff;
    background-color: hsl(154, 59%, 51%);
    font-size: 16px;
    box-shadow: 0 8px 8px -4px lightblue;
}

form h2{
    font-size: 10px;
    color: hsl(249, 10%, 26%);

}


strong{
    color: red;
}

.term{
    font-weight: 100;
}

